<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/product.js"></script>
<div class="row">
    @*
        api는 JSON으로 형변환 필요 X...
        $.getJSON() 사용해서  /api/products/   요청 해서 처리 .....

    *@
    <div class="main-content">
        <div>
            <h3>All Products</h3>
            <ul id="products"></ul>
            <div>
                <label for="prodcutId">ID:</label>
                <input type="text" id="produdctId" size="10" />
                <input type="button" value="Search" onclick="find();" />
                <p id="product"></p>
            </div>
        </div>
    </div>
</div>
